.header {
    grid-area: header;
    display: flex;
    background-color: #02101b;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    img {
        background-image: url(../multimedia/images/logo/influteniente.png);
        background-size: cover;
        max-height: 200px;
        max-width: 200px;
      }
    .navbar{
        ul {
            list-style: none;
            li{
                a {
                    text-transform: uppercase;
                    font-family: "Rubik", sans-serif;
                    font-size: 20px;
                    color: #ffffff;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: #302f2e;
                    margin: 10px;
                    &:hover{
                      transition: all 0.5s;
                      color: #ffffff;
                      transform: scale(1.15);
                  }
                } 
            }
          }
    }
  }